.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Rust
/src-tauri/target
/src-tauri/gen/schemas

# Android project (generated scaffold, but contains customizations)
/src-tauri/gen/android/.gradle
/src-tauri/gen/android/build
/src-tauri/gen/android/app/build
/src-tauri/gen/android/app/src/main/jniLibs

# mise
.mise.local.toml

# claude
.claude/
